*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(235, 205, 9, 0.877),rgb(247, 92, 9) )
}
.location ,
.temprature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temprature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size : 40px;
}